<%- include partials/header %>

<h1>Compose</h1>


    <form action="/compose" method="post">
        <div class="form-group">
            <label for="postTitle" class="form-label">Title</label>
            <input type="text" class="form-control" name="postTitle" value="" id="postTitle">
            <label for="postBody" class="form-label">Content</label>
            <textarea name="postBody" cols="30" rows="10" id="postBody" class="form-control"></textarea>
        </div>
        <button type="submit" name="button" class="btn btn-primary">Publish</button>
    </form>

</div>


<%- include partials/footer %>